<h1>Listing topics</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.title, edit_topic_path(topic) %></td>
    <td><%=h topic.description %></td>
    <td><%= pluralize(topic.votes.count, "vote") %></td>
    <td><%=link_to "+1", topic_votes_path(topic), :method => :post %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Delete', topic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New topic', new_topic_path %>